# Python Analysis Test

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# This has a style issue: no spaces around operators
x=1+2
y = x * 3

In [ ]:
df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [4, 5, 6]
})
print(df.head())
# Test edit